{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <h1>Weather App</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city">
        <button type="submit">Search</button>
    </form>

    {% if temp %}
    <div class="weather">
        <div class="left">
            <h2>{{ temp }}&#176;</h2>
            <h3>{{ city }}</h3>
        </div>

        <div class="right">
            <div class="icon">
                <img src="http://openweathermap.org/img/w/{{ icon }}.png" width="100px">
            </div>

            <div class="condition">
                <p>{{ description }}</p>
                <p>{{ day }}</p>
            </div>
        </div>
    </div>
    {% endif %}

</body>
</html>
